class="container">
    <h1>My Quotes</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of qoutes ;let i = index'>
          <div>
            <h4 id={{i}} appHighlight>{{qoute.qoute}}</h4>
            <button (click)='togglePublisher(i)' class="btn btn-primary">Toggle Publisher</button>
          </div>
  
          <div *ngIf='quote.showName'>
            <app-qoute-details  [quote]='qoute' (isComplete) = 'deleteQuote($event,i)'></app-qoute-details>
            <button class="btn btn-success" (click)="upvote(i)">Upvote </button>
            <button class="btn btn-success" (click)="downvote(i)">Downvote </button>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <app-quote-form (emitQuote)="addQuote($event)"></app-quote-form>
      </div> -->
    </div>
  
    <p *ngIf='qoutes.length > 4'>You have too many quotes</p>
  </div>

