<div class="container-fluid">
    <h2 class="text-center">Add in your quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="sub">Submitter</label>
            <input type="text" required class="form-control" id="sub" [(ngModel)]="newQuote.publisher" name="name" #sub='ngModel' required>
  
  <!-- Testing to see if we get any data -->
            Display {{newQuote.publisher}}
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Person`s name is required</p>
              </div>
        </div>
        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"  #author='ngModel' required></textarea>
                Display {{newQuote.author}}
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>Author is required</p>
                  </div>
  
        </div>
        <div class="form-group">
  
            <label for="qut">Quote</label>
            <input type='text' id="qut" [(ngModel)]="newQuote.quote" name="quote" #qut='ngModel'required>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>Quote is required</p>
              </div>
  
        </div>
        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"  #author='ngModel' required></textarea>
                Display {{newQuote.author}}
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>Author is required</p>
                  </div>
  
        </div>
        <button type="submit" class="btn btn-success">Submit New Quote</button>
    </form>
  </div>

